*{
    box-sizing: border-box;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li a{
    display: block;
    color: #fff;
    padding: 8px;
    text-align: center;
}
ul.menu li a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #333;
    transition: .3s;
}
ul.menu{
    width: 100%;
    display: flex;
}
ul.menu > li{
    width: 25%;
}
ul.menu > li > a{
    background-color: #044580;
    border-right: 1px solid #fff;
}
ul.menu > li > ul{
    display: none;
}
ul.menu li:hover a + ul{
    display: block;
}
ul.menu > li > ul > li > a{
    width: 100%;
    background-color: #01b6ed;
    border-top: 1px solid #fff;
}   